{% extends "base.html"%}

{% load i18n bootstrap3 %}
{% load staticfiles %}

{%  block page_content  %}


<div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Datos del paciente</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                                        <div class="profile_img">

                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    <img src="{{ paciente.imagen.url }}" alt="Paciente" >
                                                </div>

                                                <!-- Loading state -->
                                                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                            </div>
                                            <!-- end of image cropping -->

                                        </div>
                                        <h3>
                                            <p>{{ paciente.nombre }},</p>
                                            <p>{{ paciente.apellidos }}</p>
                                        </h3>

                                        <ul class="list-unstyled user_data">
                                            <li><i class="fa fa-credit-card user-profile-icon"></i> {{ paciente.nif }}
                                            </li>

                                            <li>
                                                <i class="fa fa-envelope user-profile-icon"></i> {{ paciente.email }}
                                            </li>

                                            <li class="m-top-xs">
                                                <i class="fa fa-external-link user-profile-icon"></i>
                                                <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                            </li>
                                        </ul>

                                        <a class="btn btn-success right"><i class="fa fa-edit m-right-xs"></i> {% trans "Editar paciente" %}</a>
                                        <br />

                                        <!-- start skills -->
                                        <h4>{% trans "Facturación" %}</h4>
                                        <ul class="list-unstyled user_data">
                                            <li>
                                                <p>Pagado</p>
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="85"></div>
                                                </div>
                                            </li>
                                        </ul>

                                        <!-- end of skills -->

                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">

                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{% trans "Observaciones" %}</a>
                                                </li>
                                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{% trans "Sesiones" %}</a>
                                                </li>
                                                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">{% trans "Informes" %}</a>
                                                </li>
                                                <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">{% trans "Facturación" %}</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                  {{ paciente.observaciones }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                                                    <!-- start user projects -->
                                                    <table class="data table table-striped no-margin">
                                                        <thead>
                                                            <tr>
                                                                <th>Fecha</th>
                                                                <th>Tipo</th>
                                                                <th>Hora inicio</th>
                                                                <th>Hora fin</th>
                                                                <th>Facturable</th>
                                                                <th>Pagada</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                          {% for sesion_paciente in sesiones_paciente %}
                                                            <tr>
                                                                <td>{{ sesion_paciente.fecha_sesion }}</td>
                                                                <td>{{ sesion_paciente.tipo.nombre }}</td>
                                                                <td>{{ sesion_paciente.hora_inicio }}</td>
                                                                <td>{{ sesion_paciente.hora_fin }}</td>
                                                                <td>{% if sesion_paciente.tipo.facturable %} <b>Si</b>
                                                                    {% else %} <b style="color:red">No</b>
                                                                    {% endif %}</td>
                                                                <td>{% if sesion_paciente.pagada %}
                                                                          <span class="label label-success">{% trans "Pagada"  %}</span>
                                                                    {% elif sesion_paciente.facturable %}
                                                                          <span class="label label-danger">{% trans "No pagada"  %}</span>
                                                                    {% else %}
                                                                          <span class="label label-success">{% trans "No pagada"  %}</span>
                                                                    {% endif %}</td>

                                                            </tr>
                                                          {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end user projects -->
                                                    <div class="clearfix"></div>
                                                    <a class="btn btn-success right" data-toggle="modal" data-target="#myModal"><i class="fa fa-calendar m-right-xs"></i> {% trans "Nueva sesión" %}</a>
                                                    <!-- Modal -->
                                                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                              <h4 class="modal-title" id="myModalLabel">{% trans "Nueva sesión" %}</h4>
                                                            </div>
                                                            <form action="." method="post" class="form">
                                                              <div class="modal-body">
                                                                  {% csrf_token %}
                                                                  {% bootstrap_form formNuevaSesion %}
                                                             </div>
                                                              <div class="modal-footer">
                                                                <button type="submit" class="btn btn-success">{% trans "Insertar sesión" %}</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cerrar" %}</button>
                                                              </div>
                                                            </form>

                                                          </div>
                                                        </div>
                                                      </div>
                                                    <br />
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                    <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">logopedaSUR by <a>@trukise</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> logopedaSUR </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

{% endblock  %}}
