{% extends "base.html"%}

{% load i18n bootstrap3 %}
{% load staticfiles %}

{%  block page_content  %}

<div class="">

  <div class="clearfix"></div>

  <div class="row">
      <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Listado de pacientes" %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
              <div class="x_content">

                  <div class="row">

                      <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                          <ul class="pagination pagination-split">
                              <li><a href="#">A</a>
                              </li>
                              <li><a href="#">B</a>
                              </li>
                              <li><a href="#">C</a>
                              </li>
                              <li><a href="#">D</a>
                              </li>
                              <li><a href="#">E</a>
                              </li>
                              <li>...</li>
                              <li><a href="#">W</a>
                              </li>
                              <li><a href="#">X</a>
                              </li>
                              <li><a href="#">Y</a>
                              </li>
                              <li><a href="#">Z</a>
                              </li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                      {% for paciente in pacientes %}
                      <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                          <div class="well profile_view">
                              <div class="col-sm-12">
                                  <div class="left col-xs-7">
                                      <h2>{{ paciente.nombre }}, {{ paciente.apellidos}}</h2>
                                      <ul class="list-unstyled">
                                          <li><i class="fa fa-phone"></i>: {{ paciente.telefono }} </li>
                                      </ul>
                                  </div>
                                  <div class="right col-xs-5 text-center">
                                      <img src="{% static 'gentelella-theme/images/user.png' %}" alt="" class="img-circle img-responsive">
                                  </div>
                              </div>
                              <div class="col-xs-12 bottom text-left">
                                  <div class="col-xs-12 col-sm-6 emphasis">
                                      {% if user.is_authenticated %}
                                      <a href="{% url "pacientes_details" paciente.pk %}" type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-user"></i>
                                          {% trans "Ver paciente" %}
                                      </a>
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}

                  </div>

              </div>
          </div>
      </div>
  </div>


</div>

<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">logopedaSUR by <a>@trukise</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> logopedaSUR </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

{% endblock  %}}
