{% extends "base.html"%}

{% load i18n bootstrap3 %}

{%  block page_content  %}

<h1>Nuevo Paciente</h1>
<div class="row">
    <div class="col-lg-6">
      <form action="." method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit">{% trans "Submit" %}</button>
      <form>
    </div>
</div>

<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">logopedaSUR by <a>@trukise</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> logopedaSUR </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

{% endblock  %}}
