{% extends "base.html"%}

{% load i18n bootstrap3 %}
{% load staticfiles %}

{%  block page_content  %}

<div class="">

  <div class="clearfix"></div>

  <div class="row">
      <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% trans "Listado de tutores" %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="#"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
              <div class="x_content">

                  <div class="row">

                      <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                          <ul class="pagination pagination-split">
                            {% for letra in encontradas %}
                              <li><a href="?initial={{ letra }}">{{ letra }}</a></li>
                            {% endfor %}
                              <li><a href=".">TODOS</a></li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                      {% for tutor in tutores %}
                      <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                          <div class="well profile_view">
                              <div class="col-sm-12">
                                  <div class="left col-xs-7">
                                      <h2>{{ tutor.nombre }}, {{ tutor.apellidos}}</h2>
                                      <ul class="list-unstyled">
                                          <li><i class="fa fa-phone"></i>: {{ tutor.telefono }} </li>
                                      </ul>
                                  </div>
                                  <div class="right col-xs-5 text-center">
                                      <img src="{% static 'gentelella-theme/images/user.png' %}" alt="" class="img-circle img-responsive" style="height:100px;weight:100px">
                                  </div>
                              </div>
                              <div class="col-xs-12 bottom text-left">
                                  <div class="col-xs-12 col-sm-6 emphasis">
                                      {% if user.is_authenticated %}
                                      <a href="{% url "tutores_details" tutor.pk %}" type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-user"></i>
                                          {% trans "Ver tutor" %}
                                      </a>
                                      {% endif %}
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="row" style="text-align:center;">
                    <ul class="pagination pagination-sm">
                    {% if tutores.has_previous %}
                        <li><a href="?page={{ tutores.previous_page_number}}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled">
                          <span>&laquo;</span>
                        <li>
                    {% endif %}

                    {% for i in tutores.paginator.page_range  %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if tutores.has_next %}
                       <li><a href="?page={{ tutores.next_page_number }}">&raquo;</a></li>
                    {% else %}
                       <li class="disabled">
                           <span>&raquo;</span>
                       </li>
                    {% endif %}

                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>


</div>

<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">logopedaSUR by <a>@trukise</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> logopedaSUR </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

{% endblock  %}}
