{% extends "base.html"%}

{% load i18n bootstrap3 %}

{%  block page_content  %}


<div class="clearfix"></div>
<div class="row">
  <div class="x_panel">
    <div class="x_title">
        <h2>{% trans "Nuevo tutor" %}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a href="#"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
      <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <form action="." method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-success">{% trans "Insertar nuevo tutor" %}</button>
          <form>
        </div>
      </div>
  </div>
</div>

<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">logopedaSUR by <a>@trukise</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> logopedaSUR </span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

{% endblock  %}}
